daemon off;

events {
  use epoll;
}

http {
  include /etc/nginx/mime.types;

  default_type  application/octet-stream;
  access_log off;
  error_log /dev/stderr;

  gzip on;
  gzip_comp_level 6;
  gzip_vary on;
  gzip_static on;

  gzip_types application/xml application/atom+xml;

  server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    root /_;

    location /{{ password | safe }}/ {
      alias /feeds/;
      index index.opml;

      types {
        application/atom+xml xml;
        application/xml opml;
      }
    }

    location ~ \.gz$ {
      internal;
    }
  }
}
