daemon off;

events {
  use epoll;
}

http {
  include /etc/nginx/mime.types;

  default_type  application/octet-stream;
  access_log off;
  error_log /dev/stderr;

  gzip on;
  gzip_comp_level 6;
  gzip_vary on;
  gzip_static on;

  gzip_types application/xml application/atom+xml;

  map $sent_http_content_type $expires {
    default              off;
    application/xml      1d;
    application/atom+xml 2h;
  }

  server_tokens off;

  server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    index index.opml;
    expires $expires;

    types {
      application/atom+xml xml;
      application/xml opml;
    }

    {% if password %}
      root /_;

      location /{{ password | safe }}/ {
        alias /feeds/;
      }
    {% else %}
      root /feeds/;
    {% endif %}


    location ~ \.gz$ {
      internal;
    }
  }
}
